--extra-index-url http://pypi.bars-open.ru/simple/
--trusted-host pypi.bars-open.ru

Django==2.2.2
m3-builder==1.2.0
m3-core==2.2.31
m3-django-compat==1.9.2
m3-django-compatibility==1.13.0
m3-objectpack==2.2.47
m3-ui==2.2.124
psycopg2==2.9.12
pytz==2026.2
six==1.17.0
sqlparse==0.5.5